* {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
}

.app__header__left {
  /* flex: 1; */
  display: flex;
  flex-direction: row;
}

.app__by {
  display: flex;
  padding-left: 10px;
}
.app__by__text {
  margin-left: 10px;
}

.app__posts {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  align-items: center;
}

.post {
  width: 90%;
  flex: 1;
}

.post__image{
  width: 100%;
}

.app__header {
  background-color: white;
  padding: 2%;
  display: flex;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  padding-left: 5%;
  padding-right: 5%;
  justify-content: space-between;
}

.createPost__container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-right: 15%;
  margin-left: 15%;
}
.createPost__fileSelect {
  width: 70%;
  margin-right: 15%;
  margin-left: 15%;
}


.app__footer{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
}

.app__createPost{
  padding:5%;
}

.circle {
  height: 50px;
  cursor:pointer;

  width: 50px;
  background-color: #bbb;
  border-radius: 70%;
  display: flex;
  justify-content: center;
  float: right;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.app__createPost {
  display: flex;
}

.app__createPost > div {
  flex: 1;
  justify-content: right;
}

.app__loginContainer {
  display: flex;
}

.app__addButton {
  width: 20px;
  height: 20px;
}

/* @media (max-width: 768px) {
  .app__loginContainer {
    padding: 5px;
    flex-grow: 3;
    margin-left: 10%;
  }
}

@media (min-width: 768px) {
  .app__loginContainer {
    padding: 5px;
    flex-grow: 3;
    margin-left: 50%;
  }
}

@media (min-width: 992px) {
  .app__loginContainer {
    padding: 5px;
    flex-grow: 3;
    margin-left: 70%;
  }
}

@media (min-width: 1200px) {
  .app__loginContainer {
    padding: 5px;
    flex-grow: 3;
    margin-left: 70%;
  }
} */

.app__loginContainer {
  /* flex: 1; */
}

.app__signUp {
  flex-direction: column;
  display: flex;
}

.app__signUp > center {
  margin-bottom: 20px;
}
.app__signUp__Input {
  width: 100%;
}

.app__signUp > div {
  display: flex;
}

.app__signUp > div > div {
  flex: 1;
}
